<section>
  <h2>バグ管理システム</h2>

  <p>バグ管理システム、バグトラッキングシステム[1]とはプロジェクトのバグを登録し、修正状況を追跡するシステム。バグ管理システムの多くは、ウェブサーバ上で動作し、ウェブブラウザ経由でアクセスできるようになっている。バグ管理システムはソフトウェアを開発する上での必須のもの[要出典]になりつつある。</p>
  
  <h2>背景</h2>
  <p>近年、ソフトウェアの開発においてはバグの修正が重要な作業と考えられている。バグを漏らさず修正し、再発を防ぐには、バグの発見日時や発見者、再現方法、修正担当者、修正履歴、修正方法、重要度、テスト状況などの多くの情報を残し管理する必要がある。開発によっては数千という数のバグが発生し、また多数のテスト担当者や修正担当者が関わっていることを考慮すると、従来のファイルレベルの管理では追いつかなくなっている。このような背景から、バグを管理するソフトウェアであるバグ管理システムが生まれた。</p>

  <h2>基本的な機能</h2>
  <ul>
    <li>バグの集中管理 - バグの投稿〜完了までのバグ情報が集中管理される。ワークフローやバグの属性など詳細はバグ管理システムにより異なる。</li>
    <li>バグの検索 - 既存のバグが検索できる。キーワード検索やクエリ検索などがある。</li>
    <li>バグの履歴管理 - バグの対応状況を詳しく把握できる。</li>
    <li>電子メール通知機能 - バグが更新される際に修正内容がメールで通知される。</li>
  </ul>
</section>