/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

form {
  margin: 5px;
}

section {
  margin: 0 5px;
}

button {
  width: 100px;
  text-align: center;
  line-height: 32px;
  outline: none;
  background-color: #FFFFFF;
  border: 2px solid #333333;
  font-size: 1rem;
  box-sizing: border-box;
}

input, textarea {
  margin: 3px 0;
  padding: 7px 0;
  font-size: 1.2rem;
  border: 1px solid #333333;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
