<section>
  <h1>Angular 2: The Future of JavaScript is Now</h1>
  
  <h2>ANGULAR CLI</h2>
  <p>Angular2をインストールする最良の方法は、Angular CLI Toolを使用することです。</p>
  <p>Angular CLIはAngular 2 Applicationの足場を生成するのに役立つだけでなく、開発者、生成、サービス、テスト、および管理に役立つ一連のコマンドが付属しています。 Angularを利用するする人々から聞いた主な不平の一つは、それがどこで始まり、どこで終わるのかを理解することが難しいことです。 Yeoman、Grunt、Gulp、そしてあらゆる種類のツールを使って真の発展を作り出していることです。 環境は、今やすべてがフレームワークコマンドラインインターフェイスによって提供されます。</p>

  <h2>ANGULAR UNIVERSAL</h2>
  <p>Angular2のアプリケーション向けのサーバーサイドレンダリングが存在します。Angular 1 では SEO に苦しめられましたが Universal を利用することでそれを回避できます そして、サイトのプレビュー、最適化された検索エンジン、そしてはるかに改善されたパフォーマンスを得ることができます。</p>

  <h2>ANGULAR MOBILE TOOL KIT</h2>
  <p>インストール可能なオフライン対応のモバイルネットワーク対応のAngular 2 Appsをすぐに作成するためのモバイルツールキットも提供しています。</p>

  <h2>ANGULAR AUGURY</h2>
  <p>Angular 2を使うと、デバッグがかなり難しいですが、Angular Augury Toolを利用することで回避できます。 これはChrome2プラグインです。 実際にコンポーネントツリーをグラフィック表現で管理しています。</p>

  <h2>ANGULAR MATERIAL 2</h2>
  <p>Angular Material 2コンポーネントではコミュニティに沿ってGoogle Developersチームの協力もあり 以前よりも強力なコンポーネントを作成しています。</p>

  <h2>ANGULAR FIREBASE 2</h2>
  <p>Angular Firebase 2というツールがあります。リアルタイムアプリケーション用に設計されているもので簡単に利用することができます。</p>

  <h2>ANGULAR 2 STYLE GUIDE</h2>
  <p>Angular2を開発するためのガイドラインを提示しています。</p>

  <h2>ANGULAR REFERENCES</h2>
  <p>Angular 2の最善の教科書は ANGULAR REFERENCES です。Angular 2のツールとチュートリアルに関する情報とリソースを見つけることができるセクションを提供しました。</p>

  <h2>NATIVE SCRIPT 2.0</h2>
  <p>Angular 2フレームワークを完全にサポートしたNative Script 2.0が存在します。WebビューでDOMをレンダリングせずにAngular 2を使ってネイティブアプリケーションを書くことができます。</p>

  <h2>CODELYZER</h2>
  <p>Angular 2アプリケーションのコードアナライザは、Angular 2スタイルガイドに従っているかどうかを確認します。</p>
</section>
